{% extends "base.html" %}

{% block title %}
  {{ object.username }} | {{ block.super }}
{% endblock title %}
{% block content %}
  <div id="user-detail-root"
       data-username="{{ object.username }}"
       data-current-username="{{ request.user.username }}"
       data-update-url="{% url 'users:update' %}"
       data-email-url="{% url 'account_email' %}"
       data-password-url="{% url 'account_change_password' %}"
       data-social-url="{% url 'socialaccount_connections' %}"
       data-mfa-url="{% url 'mfa_index' %}"></div>
{% endblock content %}
