<h1>A lighter you subscribed to has seen a new place!</h1>
<br>
<div>
  <b>Checkin created at</b>: {{ instance.date_created }}
  <br>
  <b>Message</b>: {{ instance.message }}
  <br>
  <b>Location</b>: {{ instance.location }}
  <br>
  <b>Place</b>: {{ instance.place }}
  <br>
  <b>Image:</b>
  <br>
  {% if instance.image %}
    <img src="{{ request.get_host }}{{ instance.image.url }}">
  {% else %}
    <i>No image</i>
  {% endif %}
</div>
<hr>
<br>
<h2>
  <a href="{% url 'backend:unit' instance.unit.identifier %}">View Unit page</a>
</h2>
<br>
<hr>
<a href="{% url 'backend:unit' instance.unit.identifier %}action=unsubscribe">Unsubscribe from this lighter</a> or <a href="{% url 'users:detail' user.id %}">manage all your subscriptions</a>
