<h1>A lighter you subscribed to has seen a new place!</h1>
<br>
<div>
  <p>
    <b>Check-in created at</b>: {{ instance.date_created }}
  </p>
  <p>
    <b>Message</b>: {{ instance.message }}
  </p>
  <p>
    <b>Location</b>: {{ instance.location }}
  </p>
  <p>
    <b>Place</b>: {{ instance.place }}
  </p>
  {% comment %} <b>Image:</b>
  <br>
  {% if instance.image %}
    <img src="https://flamerelay.org{{ instance.image.url }}" style='width:250px'>
  {% else %}
    <i>No image</i>
  {% endif %} {% endcomment %}
</div>
<br>
<h2>
  <a href="https://flamerelay.org{% url 'backend:unit' instance.unit.identifier %}">View Unit page</a>
</h2>
<hr>
<a href="https://flamerelay.org{% url 'backend:unit' instance.unit.identifier %}?action=unsubscribe">Unsubscribe from this lighter</a> or <a href="https://flamerelay.org{% url 'users:detail' user.id %}">manage all your subscriptions</a>
