{% extends "base.html" %}

{% block title %}
  {{ unit.identifier }} | {{ block.super }}
{% endblock title %}
{% block content %}
  <div id="unit-root"
       data-identifier="{{ unit.identifier }}"
       data-checkin-url="{% url 'backend:checkin' unit.identifier %}"
       data-is-authenticated="{{ request.user.is_authenticated|lower }}"
       data-current-username="{{ request.user.username }}"
       data-login-url="{% url 'account_login' %}"
       data-maptiler-key="{{ maptiler_key }}"></div>
{% endblock content %}
