{% extends "base.html" %}
{% block title %}
  {{ unit }} | {{ block.super }}
{% endblock title %}
{% block content %}
  <h1>{{ unit }}</h1>
  <div class="row row-cols-1 row-cols-md-5 g-4 align-items-center">
    <div class="col">
      <div class="btn-group pull-right">
        {% if request.user in unit.subscribers.all %}
          <a href="?action=unsubscribe" class="btn btn-danger">Unsubscribe</a>
        {% else %}
          <a href="?action=subscribe" class="btn btn-success">Subscribe</a>
        {% endif %}
        <a href="{% url 'backend:checkin' unit.identifier %}"
           class="btn btn-primary">New Checkin</a>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body p-2">
          <p class="card-text">
            <b>Distance Travelled</b>
            <br>
            {{ unit.get_distance_travelled }}km
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body p-2">
          <p class="card-text">
            <b>Checkin count</b>
            <br>
            {{ unit.checkin_set.count }} checkin{{ unit.checkin_set.count|pluralize }}
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body p-2">
          <p class="card-text">
            <b>Subscriber count</b>
            <br>
            {{ unit.subscribers.count }} user{{ unit.subscribers.count|pluralize }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Travel log</h3>
    <div class="col-sm-7">{{ map_html | safe }}</div>
    <div class="col-sm-5">
      {% for checkin in unit.annotated_checkin_set %}
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-auto">
                {{ checkin.place|default:"<i>Place not given</i>" }}
              </div>
              <div class="col-auto ms-auto text-end">
                <small>{{ checkin.date_created|date:"d.m.Y" }} ({{ checkin.date_created|timesince }} ago)</small>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p>
              {{ checkin.message|default:"<i>No message</i>" }}
            </p>
            {% if checkin.image %}
              <img src={% if "https" in checkin.image.path %} {{ checkin.image }} {% else %} {{ checkin.image.url }} {% endif %} style='max-height:400px' class="img-fluid">
            {% endif %}
          </div>
          {% if checkin.created_by == request.user %}
            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <a href=" {% comment %} {% url 'backend:checkin' unit.identifier checkin.id %} {% endcomment %} "
                     class="btn btn-sm btn-primary">Edit</a>
                </div>
                <div class="col ms-auto text-end">
                  <button type="submit"
                          class="btn btn-sm btn-danger"
                          data-bs-toggle="modal"
                          data-bs-target="#checkinDeleteModal">Delete</button>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
        <div class="row">
          <div class="col-sm-5">
            <hr>
          </div>
          <div class="col-sm-2">
            <p class="text-center">
              <i><small>{{ checkin.duration_text }}</small></i>
            </p>
          </div>
          <div class="col-sm-5">
            <hr>
          </div>
        </div>
      {% empty %}
        <div class="card bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title">No checkins yet!</h5>
            <p class="card-text">Click the "new checkin" button above to add one.</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="modal fade"
       id="checkinDeleteModal"
       tabindex="-1"
       aria-labelledby="checkinDeleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="checkinDeleteModalLabel">Modal title</h5>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body">Are you sure you want to delete this checkin</div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger">Yeah I'm sure!</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
