{% extends "base.html" %}
{% block content %}
  <h1>FlameRelay</h1>
  <div class="p-3 mb-2 bg-warning text-dark">
    FYI this is very much an alpha version of the site. It's not very pretty, but it kinda does what it should, and it's a start!
  </div>
  <!-- Chat GPT JS here we go lol -->
  <div class="row">
    <div class="col-sm-4 border-right">
      <form id="my-form"
            method="get"
            action="{% url 'backend:unit' 'test-123' %}input=">
        <div class="form-group">
          <h2 for="unit_identifier">Find a lighter by name</h2>
          <input type="text"
                 class="form-control"
                 id="unit_identifier"
                 placeholder="John-01"
                 name='input'>
          <small id="emailHelp" class="form-text text-muted">Should be on the sticker, e.g. "John-01".</small>
        </div>
        <button type="submit" class="btn btn-primary">See where it's been!</button>
      </form>
      <script>
        document.getElementById('my-form').addEventListener('submit', function(event) {
          event.preventDefault();
          var inputVal = document.getElementsByName('input')[0].value;
          var formAction = this.getAttribute('action');
          var newAction = formAction.replace('input=', inputVal);
          this.setAttribute('action', newAction);
          this.submit();
        });
      </script>
      <p>
        <br>
        <a href={% url 'backend:unit' "test-123" %}>Here's an example lighter</a> If you want to take a look at what this looks like.
      </p>
      <hr>
    </div>
    <div class="col-sm-8">
      <h2>Hold up what is this?</h2>
      <p>
        Get a lighter with a QR code? Congrats! You're now part of FlameRelay.
        <br>
        It's a fun project to track a lighter's journey across the world. Here's how it works.
      </p>
      <p>
        🔍 Find a lighter and see where it's been
        <br>
        📍 Submit a photo with a location and a little message
        <br>
        🤲 Pass it on to a stranger or a friend
        <br>
        📩 Get an update when it's found again (if you want).
      </p>
      <p>
        Wanna know more? Check the <a href="{% url 'about' %}">About page</a>.
      </p>
    </div>
  </div>
{% endblock content %}
